<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Doctor Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="first_name">First_name *</label>
                        <input type="text" class="form-control" id="first_name" [(ngModel)]="item.first_name" name="first_name" #first_name="ngModel" required>
                        <div class="invalid-feedback">Value is required</div>
                    </div>
                    <div class="form-group">
                        <label for="last_name">Last_name</label>
                        <input type="text" class="form-control" id="last_name" [(ngModel)]="item.last_name" name="last_name" #last_name="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="speciality">Speciality</label>
                        <input type="text" class="form-control" id="speciality" [(ngModel)]="item.speciality" name="speciality" #speciality="ngModel" >
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20">Relations</h2>

                    <label for="Identity">Identity</label>
                    <select name="identity" id="identity" [(ngModel)]="item.identity" class="form-control" #identity="ngModel"  >
                        <option *ngFor="let item of listIdentity" [value]="item._id">{{item._id}}</option>
                    </select>
                    <label for="Patient">Patient</label>
                    <select name="patient" id="patient" [(ngModel)]="item.patient" class="form-control" #patient="ngModel"  >
                        <option *ngFor="let item of listPatient" [value]="item._id">{{item._id}}</option>
                    </select>

                    
        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>